<div ng-controller="addGameController as vm">
  <form class="form-horizontal">
    <h1 class="title">Add Game</h1>
    <div class="form-group">
      <label for="gamename" class="col-lg-2 control-label"> Name </label>
      <div class="col-lg-4">
        <input id="gamename" class="form-control" ng-model="vm.game.name">
      </div>
    </div>
    <div class="form-group">
        <label for="description" class="col-lg-2 control-label"> Description </label>
      <div class="col-lg-4">
        <textarea id="description" class="form-control" ng-model="vm.game.description" rows="5"> </textarea>
      </div>
    </div>
    <div class="form-group">
        <label for="playernumber" class="col-lg-2"> Max number of players </label>
      <div class="col-lg-4">
        <input id="playernumber" class="form-control" type="number" ng-model="vm.game.maximumPlayers" min="1" max="10"> </input>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-4 col-lg-offset-2">
        <button name="create" class="btn btn-primary" ng-click="vm.createNew()"> Add new game </button>
      </div>
    </div>
  </form>

</div>