body{
  background: none !important;
}
.heading {
    background-color:#20629a;
}
.heading  a{
  font-weight: bold;
  color: #fff;
}
.heading > li > a:hover, a:focus{
  background-color: #20629a;
  color: #20629a;
  background-image:none !important;
}
.title {
  padding-left: 30px;
}
.game-list-title{
  font-size: 20px;
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.card-header{
  border-bottom: 1px solid #e5e5e5;
  padding: 10px;
  max-height: 60px;
  min-height: 60px;
}
.card-container{
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.25);
  margin: 7px 1%;
  width: 22%;
  float: left;
}

.card-body{
  padding: 10px;
  min-height: 200px;
}

.card-footer{
  border-top: 1px solid #e5e5e5;
  padding: 10px;
}
