.heading {
    background-color:#20629a;
}
.heading  a{
  font-weight: bold;
  color: #fff;
}
.heading > li > a:hover, a:focus{
  background-color: #20629a;
  color: #20629a;
  background-image:none !important;
}
.title {
  padding-left: 30px;
}
.game-list-title{
  display: inline;
}

.card-container{
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  box-shadow: 2px 2px 5px;
}

.card-header{
  border-bottom: 1px solid #e5e5e5;
  padding-top: 10px;
  padding-bottom: 10px;
}

.card-body{
  padding-top: 10px;
  padding-bottom: 10px;
}

.card-footer{
  border-top: 1px solid #e5e5e5;
  padding-top: 10px;
  padding-bottom: 10px;
}
